
body {
	background-color: #edeaea;
	color: #2d2d2d;
}

h1 {
	background-color: #dd0261;
	color: white;
	padding: 40px;
}

.introduction {
	font-size: 20px;
}

.topnav {
	font-size: 20px;
	color: #494747;
}

.indentcontent {
	padding: 0 40px 0 40px;
}